$primary-color: white ;
$secondary-color: #F8B547 ;
@mixin hover-effect($background-color,$color) {
    background-color: $background-color;
    color: $color;
}   

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container-fluid {
        background-color: rgba($color: #000000, $alpha: 0.7);
    }

    .primary-color {
        color: $primary-color;
    }

    .primary-bg {
        background-color: $primary-color;
    }

    .secondary-color {
        color: $secondary-color;
    }

    .secondary-bg {
        background-color: $secondary-color;
    }
}

    .primary-border {
        border: 2px solid $primary-color;
    }

    .secondary-border {
        border: 2px solid $secondary-color;
    }

    .btn-register:hover {
        @include hover-effect(transparent, $secondary-color )
    }

    .btn-discover:hover {
        @include hover-effect ($primary-color !important,black)
    }