$primary-color:#FA6F39;

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    

    h1{
        color: $primary-color;      
    }
    h4 {
        color: $primary-color;   
        font-size: 30px ;
    }
}

.header {
    height: 8%;
    .navbar {
        #navbarDropdown {
            color:$primary-color;
        }
        .dropdown-item {
            color: white;
        }
        .dropdown-item:hover {
            background-color: $primary-color;
            color:black ;
        }
        .navbar-brand {
            color: $primary-color;
        }
        .nav-link:hover {
            color: $primary-color !important   ;
        }
        .nav-item {
            .badge {
                background-color: $primary-color;
            }
        }
    }
}

.background-img {
    height: 250px;
    overflow: hidden;

    img {
        opacity: 0.2;
    }

    .caption {
        position: relative;
        top: -200px; ;

        h1 {
            color: $primary-color;
        }
    }
}

.navbar-vertical {
    .col-4 {
        .nav-pills {
            --bs-nav-pills-link-active-bg: #FA6F39;
            a{
                --bs-link-hover-color: #FA6F39;
            }
        }
        .nav-bg {
            background-color: $primary-color ;
        }

        #navbar-example3,a,.nav {
            border: none !important;
            color: white ;
      }
    }

    .col-8 {
        img {
            width: 100%;
            height: 300px;
      }
    
      .row {
        position: relative;
        width: 1601 !important;
        .card-product:hover .product-desc {
            bottom: 40%;
            opacity: 1 ;
        }
        .card-product:hover .overlay {
            opacity: 1;
        }
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0; 
                 border-radius: 7px;
                cursor: pointer;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), $primary-color);
                opacity: 0;
                transition: 1s;
            }
            .product-desc {
                 width: 80%;
                 position: absolute;
                 bottom: 25px;
                 left: 50%;
                 opacity: 0;
                  transform: translateX(-50%);
                 transition: 1s;
                 font-size: 50px;
                a{
                    color: white;
                }
                a:hover {
                    color: black;
                }
            }
            .card-body {
                height: 100px
            }
        }
    }   
}

.footer {
    .text-primary-color {
        color: $primary-color;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $primary-color !important;
    }
} 
